body
{

    background-color: #819FF7;

}
#general
{	border-radius: 20px;
	margin: auto;
	margin-top:30px;
	width: 50%;
	border-right: 1px dotted white;
	height: 900px;
	background-color: #A9F5F2;
	padding:5px;
}
#guardar
{	border-radius: 20px;
	margin: auto;
	margin-top:10px;
	width: 90%;
	border-right: 1px dotted white;
	height: 50%;
	background-color: white;
	padding:5px;
}
#nombre
{
 width: 90%;
 height: 5%;
 margin: center;
 margin-left: 5%; 
 padding: 2px 0px;
 background: white;
 border: 1;
 border-bottom: 1px ;
 color: black;
 font-size: 1.em;
 border-radius: 10px;

}
#coment
{
 width: 90%;
 height: 15%;
 margin: center;
 margin-left: 5%; 
 padding: 2px 0px;
 background: white;
 border: 1;
 border-bottom: 1px ;
 color: black;
 font-size: 1.em;
 border-radius: 10px;

}
#boton
{
  width: 30%;
  height: 50px;
  margin-left: 5%; 
  border-radius:50px 0px 50px 0px;
  font: bold 18px "Myriad Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.65);

}
.red{
	background: #F7819F;
}
.red:hover{
	background: #FE2E2E;
}

.blue{
	background:#81F781 ;
}
.blue:hover{
	background: #64FE2E;	
}
#id_tabla
{
	text-align: center;
	width: 100%;
	border-radius: 10px;
	border:solid #A9F5F2;
}
td
{
	border-radius: 10px;
}
#td_2
{
	height: 80px;
}